/** ============================================================================
 * .gitignore
 *
 * Project: RWP
 * Version: 1.0.1
 * Author: RIESTER <wordpress@riester.com>
 * Copyright (c) 2022 RIESTER
 * ========================================================================== */

.vscode

vendor/composer/*
vendor/composer/!*.php

!src/blocks/**/*
