.vscode

.*
**/.*

vendor/*
!vendor/composer/
vendor/composer/*
vendor/composer/!*.php

!dependencies/vendor
dependencies/**/*.json

dependencies/**/.*
node_modules
./src/
webpack/
./tests/

webpack
*.yml
composer.json
LICENSE*
package.json
grumphp.yml
phpcs*
phpstan*
*.lock
**/*.xml
**/*.yml
*.gz
*.zip
*.tar
*.tgz
.cache
temp
tmp
*.tmp
imagecache*
*_backup
gt-cache
log.txt
*.log

# Temporary and OS files
*~
.DS_Store
*.swp
Thumbs.db
