{
	"tabWidth": 4,
	"tabs": true,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"overrides": [
		{
			"files": ["*.yml", "*.neon"],
			"options": {
				"tabWidth": 2,
				"tabs": false,
				"parser": "yaml"
			}
		},
		{
			"files": [
				".prettierrc",
				".jsbeautifyrc",
				".stylelintrc",
				"package.json",
				"package.lock"
			],
			"options": {
				"tabWidth": 4,
				"tabs": true,
				"parser": "json"
			}
		}
	]
}
