{
	"overrides": [
		{
			"files": ["*.yml", "*.neon"],
			"options": {
				"parser": "yaml",
				"tabWidth": 2,
				"tabs": false
			}
		},
		{
			"files": [
				".prettierrc",
				".jsbeautifyrc",
				".stylelintrc",
				"package.json",
				"package.lock"
			],
			"options": {
				"parser": "json",
				"tabWidth": 4,
				"tabs": true
			}
		}
	],
	"semi": true,
	"singleQuote": true,
	"tabWidth": 4,
	"tabs": true,
	"trailingComma": "es5"
}
