{
	"debug": true,
	"dry-run": true,
	"ci": false,
	"plugins": [
		[
			"@semantic-release/commit-analyzer",
			{
				"preset": "conventionalcommits",
				"parserOpts": {
					"issuePrefixes": ["RWP-"],
					"issueUrlFormat": "https://riester.atlassian.net/browse/{{prefix}}{{id}}"
				},
				"releaseRules": [
					{
						"type": "docs",
						"scope": "*README*",
						"release": "patch"
					},
					{
						"type": "docs",
						"scope": "*readme*",
						"release": "patch"
					},
					{
						"type": "refactor",
						"release": "patch"
					},
					{
						"scope": "no-release",
						"release": false
					}
				]
			}
		],

		[
			"@semantic-release/release-notes-generator",
			{
				"preset": "conventionalcommits",
				"linkReferences": false,
				"linkCompare": false,
				"writerOpts": {
					"groupBy": false,
					"headerPartial": "v{{version}}{{~#if date}} - {{date}}{{~/if}}\n-------------------",
					"commitPartial": "* {{header}}"
				}
			}
		],
		[
			"@semantic-release/changelog",
			{
				"changelogTitle": "RIESTERWP Core Changelog\n========================"
			}
		],
		[
			"@semantic-release/npm",
			{
				"npmPublish": false
			}
		],
		[
			"@semantic-release/exec",
			{
				"prepareCmd": "generate-readme readme --main-file rwp.php --dir docs/partials --read-more CHANGELOG.md && generate-md",
				"success": "export NEXT_VER=${nextRelease.version}"
			}
		],
		[
			"semantic-release-version-bump",
			{
				"files": "rwp.php"
			}
		],
		[
			"@semantic-release/git",
			{
				"assets": ["CHANGELOG.md", "package.json", "package-lock.json", "rwp.php", "readme.txt", "README.md"],
				"message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
			}
		]
	],
	"branches": ["master"]
}
