{
	"plugins": [
		[
			"@semantic-release/commit-analyzer",
			{
				"preset": "conventionalcommits",
				"presetConfig": {
					"options": {
						"commitUrlFormat": "{{host}}/{{owner}}/{{repository}}/commits/{{hash}}",
						"compareUrlFormat": "{{host}}/{{owner}}/{{repository}}/compare/{{currentTag}}%0D{{previousTag}}#diff",
						"issueUrlFormat": "{{host}}/{{owner}}/{{repository}}/issue/{{id}}",
						"issuePrefixes": [
							"RWP-"
						]
					},
					"gitRawCommitsOpts": {
						"extended-regexp": true,
						"grep": "^(reverts?)",
						"regexp-ignore-case": true,
						"invert-grep": true,
						"no-merges": true
					}
				},
				"parserOpts": {
					"mergePattern": "^Merge branch '([^']+)' of (.*)$",
					"mergeCorrespondence": [
						"branch",
						"source"
					],
					"issuePrefixes": [
						"RWP-"
					]
				},
				"releaseRules": [
					{
						"type": "docs",
						"scope": "*README*",
						"release": "patch"
					},
					{
						"type": "docs",
						"scope": "*readme*",
						"release": "patch"
					},
					{
						"type": "refactor",
						"release": "patch"
					},
					{
						"scope": "no-release",
						"release": false
					}
				]
			}
		],
		[
			"@semantic-release/release-notes-generator",
			{
				"preset": "conventionalcommits",
				"linkReferences": false,
				"linkCompare": false,
				"presetConfig": {
					"options": {
						"commitUrlFormat": "{{host}}/{{owner}}/{{repository}}/commits/{{hash}}",
						"compareUrlFormat": "{{host}}/{{owner}}/{{repository}}/compare/{{currentTag}}%0D{{previousTag}}#diff",
						"issueUrlFormat": "{{host}}/{{owner}}/{{repository}}/issue/{{id}}",
						"issuePrefixes": [
							"RWP-"
						]
					},
					"gitRawCommitsOpts": {
						"extended-regexp": true,
						"grep": "^(reverts?)",
						"regexp-ignore-case": true,
						"invert-grep": true,
						"no-merges": true
					}
				},
				"parserOpts": {
					"mergePattern": "^Merge branch '([^']+)' of (.*)$",
					"mergeCorrespondence": [
						"branch",
						"source"
					],
					"issuePrefixes": [
						"RWP-"
					]
				},
				"writerOpts": {
					"ignoreReverted": true,
					"doFlush": true,
					"headerPartial": "v{{version}}{{~#if date}} - {{date}}{{~/if}}\n-------------------",
					"commitPartial": "* {{header}}"
				}
			}
		],
		[
			"@semantic-release/changelog",
			{
				"changelogTitle": "RIESTERWP Core Changelog\n========================",
				"changelogFile": ".changelog"
			}
		],
		[
			"@semantic-release/release-notes-generator",
			{
				"preset": "conventionalcommits",
				"presetConfig": {
					"options": {
						"commitUrlFormat": "{{host}}/{{owner}}/{{repository}}/commits/{{hash}}",
						"compareUrlFormat": "{{host}}/{{owner}}/{{repository}}/compare/{{currentTag}}%0D{{previousTag}}#diff",
						"issueUrlFormat": "{{host}}/{{owner}}/{{repository}}/issue/{{id}}",
						"issuePrefixes": [
							"RWP-"
						]
					},
					"gitRawCommitsOpts": {
						"extended-regexp": true,
						"grep": "^(reverts?)",
						"regexp-ignore-case": true,
						"invert-grep": true,
						"no-merges": true
					}
				},
				"parserOpts": {
					"mergePattern": "^Merge branch '([^']+)' of (.*)$",
					"mergeCorrespondence": [
						"branch",
						"source"
					],
					"issuePrefixes": [
						"RWP-"
					]
				},
				"writerOpts": {
					"ignoreReverted": true,
					"doFlush": true
				}
			}
		],
		[
			"@semantic-release/changelog",
			{
				"changelogTitle": "# RIESTERWP Core Changelog\n---"
			}
		],
		[
			"@semantic-release/npm",
			{
				"npmPublish": false
			}
		],
		[
			"@semantic-release/exec",
			{
				"generateNotesCmd": "npm run wp-readme"
			}
		],
		[
			"@semantic-release/exec",
			{
				"generateNotesCmd": "readme-txt-to-md"
			}
		],
		[
			"semantic-release-version-bump",
			{
				"files": "rwp.php"
			}
		],
		[
			"@semantic-release/exec",
			{
				"prepareCmd": "npm run archive"
			}
		],
		[
			"@semantic-release/git",
			{
				"assets": [
					"release/rwp.zip",
					"CHANGELOG.md",
					"package.json",
					"package-lock.json",
					"rwp.php",
					"readme.txt",
					"README.md"
				],
				"message": "chore(release): ${nextRelease.version} [skip ci]"
			}
		]
	],
	"branches": [
		"master"
	]
}
