# This is a sample build configuration for JavaScript.
# Check our guides at https://confluence.atlassian.com/x/14UWN for more examples.
# Only use spaces to indent your .yml configuration.
# -----
# You can specify a custom docker image from Docker Hub as your build environment.
image: node:latest
pipelines:
  branches:
    master:
      - step:
          caches:
            - node
          script:
            # Get an oauth access token using the client credentials, parsing out the token with jq.
            - apt-get update && apt-get install -y curl jq
            - >
              export BB_TOKEN=$(curl -s -X POST -u "${CLIENT_ID}:${CLIENT_SECRET}" \
                https://bitbucket.org/site/oauth2/access_token \
                -d grant_type=client_credentials -d scopes="repository"| jq --raw-output '.access_token')
            - export BITBUCKET_USER="${BITBUCKET_USER}"
            - export BITBUCKET_PASSWORD="${BITBUCKET_PASSWORD}"
            # Configure git to use the oauth token. This well happen when setting env variable BB_TOKEN
            - npm install
            - npx semantic-release --debug
