# This is a sample build configuration for JavaScript.
# Check our guides at https://confluence.atlassian.com/x/14UWN for more examples.
# Only use spaces to indent your .yml configuration.
# -----
# You can specify a custom docker image from Docker Hub as your build environment.
image: node:latest
pipelines:
  branches:
    master:
      - step:
          name: Generate New Release
          caches:
            - node
          script:
            # Get an oauth access token using the client credentials, parsing out the token with jq.
            - apt-get update && apt-get install -y curl jq zip
            - >
              export BB_TOKEN=$(curl -s -X POST -u "${CLIENT_ID}:${CLIENT_SECRET}" \
                https://bitbucket.org/site/oauth2/access_token \
                -d grant_type=client_credentials -d scopes="repository"| jq --raw-output '.access_token')
            # Configure git to use the oauth token.
            - git remote set-url origin "https://x-token-auth:$BB_TOKEN@bitbucket.org/$BITBUCKET_REPO_FULL_NAME.git"
            - printenv
            - git ls-remote https://x-token-auth:$BB_TOKEN@bitbucket.org/$BITBUCKET_REPO_FULL_NAME.git
            - npm ci --install-links --audit-level=none
            - chmod +x ./docs/wordpress-md.js
            - npm link
            - npx semantic-release --debug
            - npm run pack
            - git add release/ -f
      - step:
          name: Deploy release
          deployment: production
          script:
            - printenv
            - echo "$BITBUCKET_CLONE_DIR/release/$BITBUCKET_REPO_SLUG.zip"
            - curl -T release/${BITBUCKET_REPO_SLUG}.zip -u ${FTP_USERNAME}:${FTP_PASSWORD} ftp://${FTP_HOST}${FTP_PATH}