includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
  level: 5
  paths:
    - %currentWorkingDirectory%/includes/ajax
    - %currentWorkingDirectory%/includes/backend
    - %currentWorkingDirectory%/includes/engine
    - %currentWorkingDirectory%/includes/frontend
    - %currentWorkingDirectory%/includes/functions
    - %currentWorkingDirectory%/includes/integrations
    - %currentWorkingDirectory%/includes/internals
    - %currentWorkingDirectory%/includes/rest
    - rwp.php
    - uninstall.php
  bootstrapFiles:
    - %currentWorkingDirectory%/tests/phpstan/bootstrap.php
  scanDirectories:
    - %currentWorkingDirectory%/includes/dependencies
    - ../advanced-custom-fields-pro
    - ../acf-extended
  scanFiles:
    - ../advanced-custom-fields-pro/acf.php
    - ../acf-extended/acf-extended.php
  ignoreErrors:
    - '#^Function WPDeskWpNotice invoked with 4 parameters, 0 required\.$#'
    - '#^Function remember_transient invoked with 3 parameters, 0 required\.$#'
    - '#^Call to function is_null\(\) with static\(RWP\\Engine\\Base\) will always evaluate to false\.$#'
    - '#^Unsafe usage of new static\(\)\.$#'
    - '#^Parameter \#3 \$base of function rwp_find_file expects string, null given\.$#'
