includes:
  - %currentWorkingDirectory%/vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
  level: 0
  editorUrl: 'vscode://file/%%file%%:%%line%%'
  parallel:
    processTimeout: 600.0
  paths:
    - includes
  excludePaths:
    analyse:
      - includes/core/internals/SVGs.php
    analyseAndScan:
      - includes/core/internals/SVG/*
  bootstrapFiles:
    - tests/phpstan/bootstrap.php
    - dependencies/vendor/autoload.php
    - dependencies/vendor/scoper-autoload.php
  scanDirectories:
    - dependencies
    - includes
    - ../advanced-custom-fields-pro
    - ../acf-extended
    - ../elementor
    - ../elementor-pro
    - ../gravityforms
    - ../query-monitor
    - ../wordpress-seo
  scanFiles:
    - rwp.php
    - uninstall.php
  ignoreErrors:
    - '#^Method [a-zA-Z0-9\\_]+::__sleep\(\) should return array\<int, string\> but return statement is missing\.$#'
    # - '#^Parameter \#3 \$base of function rwp_find_file expects string, null given\.$#'
    # - '#^Function apply_filters invoked with \d* parameters, \d* required\.$#'
    # - '#^Parameter \#1 \$post_id of function acfe_get_fields expects false, int\|string given\.$#'
    # - '#^Function rwp_get_page_for_post_type invoked with 1 parameter, 0 required\.$#'
    # - '#^Function register_extended_post_type invoked with 3 parameters, 0 required\.$#'
    # - '#^Function register_extended_taxonomy invoked with 4 parameters, 0 required\.$#'
    # - '#^Function wp_cache_remember invoked with 4 parameters, 0 required\.$#'
