

div.field_type-star_rating_field .star-rating .star .star-icon {cursor:pointer;}

.star_rating_field_wrapper{
	display: flex;
	align-items: center;

}

.star_rating_field_wrapper .clear-button{
	margin-left: 1rem;
}
