/// ======================================================================== ///
/// @name   edit
///
/// @group  RIESTERWP Core
/// @since  0.1.1
/// @author RIESTER <wordpress@riester.com>
/// ======================================================================== ///

.rwp-icon {
	display: inline-block !important;
	min-width: 1em;
	min-height: 1em;
}
