/// ======================================================================== ///
/// @name   _acf
///
/// @group  RIESTERWP Plugin
/// @since  0.1.0
/// @author RIESTER <wordpress@riester.com>
/// ======================================================================== ///

@mixin acf-col($gutter: $acf-gutter) {
    position: relative;
    // Prevent columns from becoming too narrow when at smaller grid tiers by
    // always setting `width: 100%;`. This works because we use `flex` values
    // later on to override this initial width.
    width: 100%;
    padding: $gutter / 2;
}

@mixin acf-row($gutter: $acf-gutter) {
    @include make-row(0);

    width: 100%;
    padding: $gutter / 2;
}

@mixin acf-table-row() {
    border-bottom: 1px solid $admin-gray-200;
    > .acf-label {
        flex: 0 0 20%;
        padding-top: $acf-gutter;
        padding-bottom: $acf-gutter;
        background: $admin-gray-100;
        text-shadow: #fff 0 1px 0;
        border-right: solid 1px $admin-gray-200;
    }
    > .acf-input {
        flex-direction: row;
        align-items: center;
        flex: 0 0 80%;
        float: none;
        padding-top: $acf-gutter;
        padding-bottom: $acf-gutter;
        > .acf-input-wrap,
        > .acf-field-list-wrap {
            flex: 1 1 auto;
        }
    }
}

@mixin acf-group {
    border: 1px solid $admin-gray-300 !important;
    background: $admin-gray-100;
    padding: $acf-gutter/2 $acf-gutter;
    text-shadow: #fff 0 1px 0;
    align-items: center;
    > * {
        @include acf-col();

        padding: 0;
        width: auto;
    }
    > label {
        order: -1;
        margin-right: auto;
    }
    > .acf-input {
        border: 1px solid $admin-gray-300;
    }
}
