/// ======================================================================== ///
/// @name   _acf
///
/// @group  RWP
/// @since  1.0.0
/// @author RIESTER <wordpress@riester.com>
/// ======================================================================== ///

@mixin acf-row(
	$type: 'padding',
	$important: false,
	$x-gutter: $acf-gutter-x,
	$y-gutter: $acf-gutter-y
) {
	--#{$variable-prefix}gutter-x: #{$x-gutter};
	--#{$variable-prefix}gutter-y: #{$y-gutter};

	@if $important == false {
		display: flex;
		flex-wrap: wrap;

		@if $type == 'padding' {
			width: 100%;
			padding-right: calc(var(--#{$variable-prefix}gutter-x) * 0.5);
			padding-left: calc(var(--#{$variable-prefix}gutter-x) * 0.5);
			padding-bottom: var(--#{$variable-prefix}gutter-y);
		} @else {
			margin-right: calc(var(--#{$variable-prefix}gutter-x) * -0.5);
			margin-left: calc(var(--#{$variable-prefix}gutter-x) * -0.5);
			margin-top: calc(var(--#{$variable-prefix}gutter-y) * -1);
			width: calc(100% + var(--#{$variable-prefix}gutter-x));
			padding: 0 !important;
		}
	} @else {
		display: flex !important;
		flex-wrap: wrap !important;
		@if $type == 'padding' {
			width: 100% !important;
			padding-right: calc(
				var(--#{$variable-prefix}gutter-x) * 0.5
			) !important;
			padding-left: calc(
				var(--#{$variable-prefix}gutter-x) * 0.5
			) !important;
			padding-bottom: var(--#{$variable-prefix}gutter-y) !important;
		} @else {
			margin-right: calc(
				var(--#{$variable-prefix}gutter-x) * -0.5
			) !important;
			margin-top: calc(
				var(--#{$variable-prefix}gutter-y) * -1
			) !important;
			margin-left: calc(
				var(--#{$variable-prefix}gutter-x) * -0.5
			) !important;
			width: calc(100% + var(--#{$variable-prefix}gutter-x)) !important;
			padding: 0 !important;
		}
	}
}
