/// ======================================================================== ///
/// @name   _index
///
/// @group  RWP
/// @since  1.0.1
/// @author RIESTER <wordpress@riester.com>
/// ======================================================================== ///

@import 'locations';
