/// ======================================================================== ///
/// @name   _locations
///
/// @group  RWP
/// @since  1.0.1
/// @author RIESTER <wordpress@riester.com>
/// ======================================================================== ///

.address-line {
	.address-item {
		display: inline-block;
		margin-right: getcssvar(spacer-default);

		&.address-item-separator {
			margin-left: calc(-1 * #{getcssvar(spacer-default)});
		}
	}
}
