/// ======================================================================== ///
/// @name   style
///
/// @group  RIESTERWP Plugin
/// @since  0.1.1
/// @author RIESTER <wordpress@riester.com>
/// ======================================================================== ///

@import '../../css/global/index';

.rwp-toggle-body {
	@extend %block;
}
