/// ======================================================================== ///
/// @name   edit
///
/// @group  RIESTERWP Plugin
/// @since  0.1.0
/// @author RIESTER <wordpress@riester.com>
/// ======================================================================== ///
@import '../../css/global/index';
@import '~bootstrap/scss/card';

.rwp.card {
    margin: 0;
    padding: 0;

    &:not(.card-row) {
        .card-body,
        .card-header,
        .card-footer {
            flex: 1 1 100%;
            width: 100%;
        }
    }

    &.text-left {
        .card-body,
        .card-footer,
        .card-header {
            align-items: flex-start;
            text-align: left;
        }

        .list-inline {
            justify-content: flex-start;
        }
    }

    &.text-center {
        .card-body,
        .card-footer,
        .card-header {
            align-items: center;
            text-align: center;
        }

        .list-inline {
            justify-content: center;
        }
    }

    &.text-right {
        .card-body,
        .card-footer,
        .card-header {
            align-items: flex-end;
            text-align: right;
        }

        .list-inline {
            justify-content: flex-end;
        }
    }

    .card-body,
    .card-footer,
    .card-header {
        display: flex;
        flex-direction: column;
    }
}
