/*!********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!../../node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!../../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./css/vendor/acf.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************/
.acf-color-picker .iris-picker {
  width: auto !important;
  height: auto !important;
  min-width: 317px;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  padding: 10px !important;
  box-sizing: border-box;
}
.acf-color-picker .iris-picker * {
  box-sizing: border-box;
}
.acf-color-picker .iris-picker .iris-picker-inner {
  display: grid;
  grid-template-columns: 1fr 1.5rem;
  gap: 10px;
}
.acf-color-picker .iris-picker .iris-square,
.acf-color-picker .iris-picker .iris-slider,
.acf-color-picker .iris-picker .iris-picker-inner,
.acf-color-picker .iris-picker .iris-palette-container {
  width: auto !important;
  height: auto !important;
  float: none !important;
  position: relative !important;
  left: auto !important;
  bottom: auto !important;
  top: auto !important;
  right: auto !important;
  margin: 0 !important;
}
.acf-color-picker .iris-picker .iris-square:before {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.acf-color-picker .iris-picker .iris-palette-container {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fill, 25px);
  grid-template-rows: repeat(auto-fill, 25px);
}
.acf-color-picker .iris-picker .iris-palette-container .iris-palette {
  width: 25px !important;
  height: 25px !important;
  float: none !important;
  position: relative !important;
  left: auto !important;
  bottom: auto !important;
  top: auto !important;
  right: auto !important;
  margin: 0 !important;
}
