/*!**************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!../../node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!../../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./css/vendor/wordpress.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************/
body.rwp.admin-bar #wpadminbar {
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
}
body.rwp.admin-bar #wpadminbar .quicklinks {
  width: 100%;
  display: flex;
}
body.rwp.admin-bar #wpadminbar .quicklinks > ul {
  display: flex;
}
body.rwp.admin-bar #wpadminbar .quicklinks #wp-admin-bar-top-secondary {
  margin-left: auto;
}

.alignleft,
.alignright,
.aligncenter,
.alignnone {
  max-width: 100%;
  height: auto;
  margin-bottom: var(--bs-paragraph-margin-bottom);
  display: inline-block;
}

.alignleft {
  margin-right: var(--bs-paragraph-margin-bottom);
  float: left;
  float: none;
  margin-right: 0;
}

.alignright {
  margin-left: var(--bs-paragraph-margin-bottom);
  float: right;
  float: none;
  margin-left: 0;
}

.aligncenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aligncenter figcaption {
  text-align: center;
}

.alignnone {
  float: none;
}

.screen-reader-text {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

hr.wp-block-separator {
  border-color: currentColor;
  margin-top: 16px;
  margin-top: 1rem;
}

.wp-block-image.is-style-rounded > div,
.wp-block-image.is-style-rounded > picture {
  --bs-aspect-ratio: 100%;
  position: relative;
  width: 100%;
}
.wp-block-image.is-style-rounded > div:before,
.wp-block-image.is-style-rounded > picture:before {
  display: block;
  padding-top: var(--bs-aspect-ratio);
  content: "";
}
.wp-block-image.is-style-rounded > div > *,
.wp-block-image.is-style-rounded > picture > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wp-block-image.is-style-rounded > div img,
.wp-block-image.is-style-rounded > div svg,
.wp-block-image.is-style-rounded > picture img,
.wp-block-image.is-style-rounded > picture svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100% !important;
  height: 100% !important;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover";
  max-width: none;
  border-radius: 0;
}
@media screen {
  body.rwp {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}
