/*!***************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!../../node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!../../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./css/debug.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************/
#query-monitor-main #qm-rwp-debug pre.sf-dump,
pre.sf-dump {
  display: block;
  white-space: pre;
  padding: 5px;
  overflow: initial !important;
  background-color: #18171b;
  color: #ff8400;
  line-height: 1.5 !important;
  font-family: "FiraCode Nerd Font Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace !important;
  font-size: 16px !important;
  font-size: 1rem !important;
  word-wrap: break-word;
  white-space: pre-wrap;
  position: relative;
  z-index: 99999;
  word-break: break-all;
}
#query-monitor-main #qm-rwp-debug pre.sf-dump:after,
pre.sf-dump:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
#query-monitor-main #qm-rwp-debug pre.sf-dump span,
pre.sf-dump span {
  display: inline;
}
#query-monitor-main #qm-rwp-debug pre.sf-dump a,
pre.sf-dump a {
  text-decoration: none;
  cursor: pointer;
  border: 0;
  outline: none;
  color: inherit;
}
#query-monitor-main #qm-rwp-debug pre.sf-dump img,
pre.sf-dump img {
  max-width: 50em;
  max-height: 50em;
  margin: 0.5em 0 0 0;
  padding: 0;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAAAAAA6mKC9AAAAHUlEQVQY02O8zAABilCaiQEN0EeA8QuUcX9g3QEAAjcC5piyhyEAAAAASUVORK5CYII=) #d3d3d3;
}
#query-monitor-main #qm-rwp-debug pre.sf-dump .sf-dump-ellipsis,
pre.sf-dump .sf-dump-ellipsis {
  display: inline-block;
  overflow: visible;
  text-overflow: ellipsis;
  max-width: 5em;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: top;
  color: #ff8400;
}
#query-monitor-main #qm-rwp-debug pre.sf-dump .sf-dump-ellipsis + .sf-dump-ellipsis,
pre.sf-dump .sf-dump-ellipsis + .sf-dump-ellipsis {
  max-width: none;
}
#query-monitor-main #qm-rwp-debug pre.sf-dump code,
pre.sf-dump code {
  display: inline;
  padding: 0;
  background: none;
}
#query-monitor-main #qm-rwp-debug pre.sf-dump .sf-dump-search-hidden,
pre.sf-dump .sf-dump-search-hidden {
  display: none !important;
}
#query-monitor-main #qm-rwp-debug pre.sf-dump .sf-dump-search-wrapper,
pre.sf-dump .sf-dump-search-wrapper {
  font-size: 0;
  white-space: nowrap;
  margin-bottom: 5px;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 5px;
}
#query-monitor-main #qm-rwp-debug pre.sf-dump .sf-dump-search-wrapper > *,
pre.sf-dump .sf-dump-search-wrapper > * {
  vertical-align: top;
  box-sizing: border-box;
  height: 21px;
  font-weight: normal;
  border-radius: 0;
  background: #fff;
  color: #757575;
  border: 1px solid #bbb;
}
#query-monitor-main #qm-rwp-debug pre.sf-dump .sf-dump-search-wrapper > input.sf-dump-search-input,
pre.sf-dump .sf-dump-search-wrapper > input.sf-dump-search-input {
  padding: 3px;
  height: 21px;
  font-size: 12px;
  border-right: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  color: #000;
  min-width: 15px;
  width: 100%;
}
#query-monitor-main #qm-rwp-debug pre.sf-dump .sf-dump-search-wrapper > .sf-dump-search-input-next,
pre.sf-dump .sf-dump-search-wrapper > .sf-dump-search-input-next {
  background: #f2f2f2;
  outline: none;
  border-left: none;
  font-size: 0;
  line-height: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
#query-monitor-main #qm-rwp-debug pre.sf-dump .sf-dump-search-wrapper > .sf-dump-search-input-next > svg,
pre.sf-dump .sf-dump-search-wrapper > .sf-dump-search-input-next > svg {
  pointer-events: none;
  width: 12px;
  height: 12px;
}
#query-monitor-main #qm-rwp-debug pre.sf-dump .sf-dump-search-wrapper > .sf-dump-search-input-previous,
pre.sf-dump .sf-dump-search-wrapper > .sf-dump-search-input-previous {
  background: #f2f2f2;
  outline: none;
  border-left: none;
  font-size: 0;
  line-height: 0;
}
#query-monitor-main #qm-rwp-debug pre.sf-dump .sf-dump-search-wrapper > .sf-dump-search-input-previous > svg,
pre.sf-dump .sf-dump-search-wrapper > .sf-dump-search-input-previous > svg {
  pointer-events: none;
  width: 12px;
  height: 12px;
}
#query-monitor-main #qm-rwp-debug pre.sf-dump .sf-dump-search-wrapper > .sf-dump-search-count,
pre.sf-dump .sf-dump-search-wrapper > .sf-dump-search-count {
  display: inline-block;
  padding: 0 5px;
  margin: 0;
  border-left: none;
  line-height: 21px;
  font-size: 12px;
}
#query-monitor-main #qm-rwp-debug pre.sf-dump .sf-dump-default,
pre.sf-dump .sf-dump-default {
  background-color: #18171b;
  color: #ff8400;
  line-height: 1.2em;
  font-family: var(--bs-font-monospace);
  font-size: 16px;
  font-size: 1rem;
  word-wrap: break-word;
  white-space: pre-wrap;
  position: relative;
  z-index: 99999;
  word-break: break-all;
}
#query-monitor-main #qm-rwp-debug pre.sf-dump .sf-dump-num,
pre.sf-dump .sf-dump-num {
  font-weight: bold;
  color: #1299da;
}
#query-monitor-main #qm-rwp-debug pre.sf-dump .sf-dump-const,
pre.sf-dump .sf-dump-const {
  font-weight: bold;
}
#query-monitor-main #qm-rwp-debug pre.sf-dump .sf-dump-str,
pre.sf-dump .sf-dump-str {
  font-weight: bold;
  color: #56db3a;
}
#query-monitor-main #qm-rwp-debug pre.sf-dump .sf-dump-note,
pre.sf-dump .sf-dump-note {
  color: #1299da;
}
#query-monitor-main #qm-rwp-debug pre.sf-dump .sf-dump-ref,
pre.sf-dump .sf-dump-ref {
  color: #a0a0a0;
}
#query-monitor-main #qm-rwp-debug pre.sf-dump .sf-dump-public,
pre.sf-dump .sf-dump-public {
  color: #ffffff;
}
#query-monitor-main #qm-rwp-debug pre.sf-dump .sf-dump-protected,
pre.sf-dump .sf-dump-protected {
  color: #ffffff;
}
#query-monitor-main #qm-rwp-debug pre.sf-dump .sf-dump-private,
pre.sf-dump .sf-dump-private {
  color: #ffffff;
}
#query-monitor-main #qm-rwp-debug pre.sf-dump .sf-dump-meta,
pre.sf-dump .sf-dump-meta {
  color: #b729d9;
}
#query-monitor-main #qm-rwp-debug pre.sf-dump .sf-dump-key,
pre.sf-dump .sf-dump-key {
  color: #56db3a;
}
#query-monitor-main #qm-rwp-debug pre.sf-dump .sf-dump-index,
pre.sf-dump .sf-dump-index {
  color: #1299da;
}
#query-monitor-main #qm-rwp-debug pre.sf-dump .sf-dump-ns,
pre.sf-dump .sf-dump-ns {
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#query-monitor-main #qm-rwp-debug pre.sf-dump .sf-dump-ellipsis-note,
pre.sf-dump .sf-dump-ellipsis-note {
  color: #1299da;
}

.sf-dump-public.sf-dump-highlight {
  background: rgba(111, 172, 204, 0.3);
  border: 1px solid #7da0b1;
  border-radius: 3px;
}
.sf-dump-public.sf-dump-highlight-active {
  background: rgba(253, 175, 0, 0.4);
  border: 1px solid #ffa500;
  border-radius: 3px;
}

.sf-dump-protected.sf-dump-highlight {
  background: rgba(111, 172, 204, 0.3);
  border: 1px solid #7da0b1;
  border-radius: 3px;
}
.sf-dump-protected.sf-dump-highlight-active {
  background: rgba(253, 175, 0, 0.4);
  border: 1px solid #ffa500;
  border-radius: 3px;
}

.sf-dump-private.sf-dump-highlight {
  background: rgba(111, 172, 204, 0.3);
  border: 1px solid #7da0b1;
  border-radius: 3px;
}
.sf-dump-private.sf-dump-highlight-active {
  background: rgba(253, 175, 0, 0.4);
  border: 1px solid #ffa500;
  border-radius: 3px;
}

.sf-dump-key.sf-dump-highlight {
  background: rgba(111, 172, 204, 0.3);
  border: 1px solid #7da0b1;
  border-radius: 3px;
}
.sf-dump-key.sf-dump-highlight-active {
  background: rgba(253, 175, 0, 0.4);
  border: 1px solid #ffa500;
  border-radius: 3px;
}

.sf-dump-str.sf-dump-highlight {
  background: rgba(111, 172, 204, 0.3);
  border: 1px solid #7da0b1;
  border-radius: 3px;
}
.sf-dump-str.sf-dump-highlight-active {
  background: rgba(253, 175, 0, 0.4);
  border: 1px solid #ffa500;
  border-radius: 3px;
}
