/// ======================================================================== ///
/// @name   _forms
///
/// @group  RWP
/// @version   1.0.1
/// @copyright 2022 RIESTER
/// ======================================================================== ///

@import '[variables, mixins] from ~select2-bootstrap-5-theme/src/sizing';

@mixin form-control-size($size: null, $important: false, $bp: null) {
	@if $bp != null {
		@if $size == sm {
			@include rfs-val($input-font-size-sm, font-size, $bp, $important);
			@include rfs-val($input-border-radius-sm, border-radius, $bp, $important);
			@include media-breakpoint-up($bp) {
				@if $important == true {
					min-height: $input-height-sm !important;
					padding: $input-padding-y-sm $input-padding-x-sm !important;

					&[type='search'] {
						padding-right: calc(#{remove-calc($input-height-inner-half-sm)} + (#{$input-padding-y-sm} * 2)) !important;
					}

					&::file-selector-button {
						padding: $input-padding-y-sm $input-padding-x-sm !important;
						margin: -$input-padding-y-sm -$input-padding-x-sm !important;
						margin-inline-end: $input-padding-x-sm !important;
					}

					&::-webkit-file-upload-button {
						padding: $input-padding-y-sm $input-padding-x-sm !important;
						margin: -$input-padding-y-sm -$input-padding-x-sm !important;
						margin-inline-end: $input-padding-x-sm !important;
					}
				} @else {
					min-height: $input-height-sm;
					padding: $input-padding-y-sm $input-padding-x-sm;

					&[type='search'] {
						padding-right: calc(#{remove-calc($input-height-inner-half-sm)} + (#{$input-padding-y-sm} * 2));
					}

					&::file-selector-button {
						padding: $input-padding-y-sm $input-padding-x-sm;
						margin: -$input-padding-y-sm -$input-padding-x-sm;
						margin-inline-end: $input-padding-x-sm;
					}

					&::-webkit-file-upload-button {
						padding: $input-padding-y-sm $input-padding-x-sm;
						margin: -$input-padding-y-sm -$input-padding-x-sm;
						margin-inline-end: $input-padding-x-sm;
					}
				}
			}
		} @else if $size == lg {
			@include rfs-val($input-font-size-lg, font-size, $bp, $important);
			@include rfs-val($input-border-radius-lg, border-radius, $bp, $important);
			@include media-breakpoint-up($bp) {
				@if $important == true {
					min-height: $input-height-lg !important;
					padding: $input-padding-y-lg $input-padding-x-lg !important;

					&[type='search'] {
						padding-right: calc(#{remove-calc($input-height-inner-half-lg)} + (#{$input-padding-y-lg} * 2)) !important;
					}

					&::file-selector-button {
						padding: $input-padding-y-lg $input-padding-x-lg !important;
						margin: -$input-padding-y-lg -$input-padding-x-lg !important;
						margin-inline-end: $input-padding-x-lg !important;
					}

					&::-webkit-file-upload-button {
						padding: $input-padding-y-lg $input-padding-x-lg !important;
						margin: -$input-padding-y-lg -$input-padding-x-lg !important;
						margin-inline-end: $input-padding-x-lg !important;
					}
				} @else {
					min-height: $input-height-lg;
					padding: $input-padding-y-lg $input-padding-x-lg;

					&[type='search'] {
						padding-right: calc(#{remove-calc($input-height-inner-half-lg)} + (#{$input-padding-y-lg} * 2));
					}

					&::file-selector-button {
						padding: $input-padding-y-lg $input-padding-x-lg;
						margin: -$input-padding-y-lg -$input-padding-x-lg;
						margin-inline-end: $input-padding-x-lg;
					}

					&::-webkit-file-upload-button {
						padding: $input-padding-y-lg $input-padding-x-lg;
						margin: -$input-padding-y-lg -$input-padding-x-lg;
						margin-inline-end: $input-padding-x-lg;
					}
				}
			}
		} @else {
			@include rfs-val($input-font-size, font-size, $bp, $important);
			@include rfs-val($input-border-radius, border-radius, $bp, $important);
			@include media-breakpoint-up($bp) {
				@if $important == true {
					min-height: $input-height !important;
					padding: $input-padding-y $input-padding-x !important;

					&[type='search'] {
						padding-right: calc(#{remove-calc($input-height-inner-half)} + (#{$input-padding-y} * 2)) !important;
					}

					&::file-selector-button {
						padding: $input-padding-y $input-padding-x !important;
						margin: -$input-padding-y -$input-padding-x !important;
						margin-inline-end: $input-padding-x !important;
					}

					&::-webkit-file-upload-button {
						padding: $input-padding-y $input-padding-x !important;
						margin: -$input-padding-y -$input-padding-x !important;
						margin-inline-end: $input-padding-x !important;
					}
				} @else {
					min-height: $input-height;
					padding: $input-padding-y $input-padding-x;

					&[type='search'] {
						padding-right: calc(#{remove-calc($input-height-inner-half)} + (#{$input-padding-y} * 2));
					}

					&::file-selector-button {
						padding: $input-padding-y $input-padding-x;
						margin: -$input-padding-y -$input-padding-x;
						margin-inline-end: $input-padding-x;
					}

					&::-webkit-file-upload-button {
						padding: $input-padding-y $input-padding-x;
						margin: -$input-padding-y -$input-padding-x;
						margin-inline-end: $input-padding-x;
					}
				}
			}
		}
	} @else {
		@if $size == sm {
			@if $important == true {
				min-height: $input-height-sm !important;
				padding: $input-padding-y-sm $input-padding-x-sm !important;
				@include font-size($input-font-size-sm !important);
				@include border-radius($input-border-radius-sm !important);

				&[type='search'] {
					padding-right: calc(#{remove-calc($input-height-inner-half-sm)} + (#{$input-padding-y-sm} * 2)) !important;
				}

				&::file-selector-button {
					padding: $input-padding-y-sm $input-padding-x-sm !important;
					margin: -$input-padding-y-sm -$input-padding-x-sm !important;
					margin-inline-end: $input-padding-x-sm !important;
				}

				&::-webkit-file-upload-button {
					padding: $input-padding-y-sm $input-padding-x-sm !important;
					margin: -$input-padding-y-sm -$input-padding-x-sm !important;
					margin-inline-end: $input-padding-x-sm !important;
				}
			} @else {
				min-height: $input-height-sm;
				padding: $input-padding-y-sm $input-padding-x-sm;
				@include font-size($input-font-size-sm);
				@include border-radius($input-border-radius-sm);

				&[type='search'] {
					padding-right: calc(#{remove-calc($input-height-inner-half-sm)} + (#{$input-padding-y-sm} * 2));
				}

				&::file-selector-button {
					padding: $input-padding-y-sm $input-padding-x-sm;
					margin: -$input-padding-y-sm -$input-padding-x-sm;
					margin-inline-end: $input-padding-x-sm;
				}

				&::-webkit-file-upload-button {
					padding: $input-padding-y-sm $input-padding-x-sm;
					margin: -$input-padding-y-sm -$input-padding-x-sm;
					margin-inline-end: $input-padding-x-sm;
				}
			}
		} @else if $size == lg {
			@if $important == true {
				min-height: $input-height-lg !important;
				padding: $input-padding-y-lg $input-padding-x-lg !important;
				@include font-size($input-font-size-lg !important);
				@include border-radius($input-border-radius-lg !important);

				&[type='search'] {
					padding-right: calc(#{remove-calc($input-height-inner-half-lg)} + (#{$input-padding-y-lg} * 2)) !important;
				}

				&::file-selector-button {
					padding: $input-padding-y-lg $input-padding-x-lg !important;
					margin: -$input-padding-y-lg -$input-padding-x-lg !important;
					margin-inline-end: $input-padding-x-lg !important;
				}

				&::-webkit-file-upload-button {
					padding: $input-padding-y-lg $input-padding-x-lg !important;
					margin: -$input-padding-y-lg -$input-padding-x-lg !important;
					margin-inline-end: $input-padding-x-lg !important;
				}
			} @else {
				min-height: $input-height-lg;
				padding: $input-padding-y-lg $input-padding-x-lg;
				@include font-size($input-font-size-lg);
				@include border-radius($input-border-radius-lg);

				&[type='search'] {
					padding-right: calc(#{remove-calc($input-height-inner-half-lg)} + (#{$input-padding-y-lg} * 2));
				}

				&::file-selector-button {
					padding: $input-padding-y-lg $input-padding-x-lg;
					margin: -$input-padding-y-lg -$input-padding-x-lg;
					margin-inline-end: $input-padding-x-lg;
				}

				&::-webkit-file-upload-button {
					padding: $input-padding-y-lg $input-padding-x-lg;
					margin: -$input-padding-y-lg -$input-padding-x-lg;
					margin-inline-end: $input-padding-x-lg;
				}
			}
		} @else {
			@if $important == true {
				min-height: $input-height !important;
				padding: $input-padding-y $input-padding-x !important;
				@include font-size($input-font-size !important);
				@include border-radius($input-border-radius !important);

				&[type='search'] {
					padding-right: calc(#{remove-calc($input-height-inner-half)} + (#{$input-padding-y} * 2)) !important;
				}

				&::file-selector-button {
					padding: $input-padding-y $input-padding-x !important;
					margin: -$input-padding-y -$input-padding-x !important;
					margin-inline-end: $input-padding-x !important;
				}

				&::-webkit-file-upload-button {
					padding: $input-padding-y $input-padding-x !important;
					margin: -$input-padding-y -$input-padding-x !important;
					margin-inline-end: $input-padding-x !important;
				}
			} @else {
				min-height: $input-height;
				padding: $input-padding-y $input-padding-x;
				@include font-size($input-font-size);
				@include border-radius($input-border-radius);

				&[type='search'] {
					padding-right: calc(#{remove-calc($input-height-inner-half)} + (#{$input-padding-y} * 2));
				}

				&::file-selector-button {
					padding: $input-padding-y $input-padding-x;
					margin: -$input-padding-y -$input-padding-x;
					margin-inline-end: $input-padding-x;
				}

				&::-webkit-file-upload-button {
					padding: $input-padding-y $input-padding-x;
					margin: -$input-padding-y -$input-padding-x;
					margin-inline-end: $input-padding-x;
				}
			}
		}
	}
}

@mixin form-select-size($size: null, $important: false, $bp: null) {
	@if $bp != null {
		@if $size == sm {
			@include rfs-val($form-select-font-size-sm, font-size, $bp, $important);
			@include rfs-val($form-select-border-radius-sm, border-radius, $bp, $important);
			@include media-breakpoint-up($bp) {
				@if $important == true {
					min-height: $input-height-sm !important;
					padding: $form-select-padding-y-sm $form-select-indicator-padding-sm $form-select-padding-y-sm $form-select-padding-x-sm !important;
					background-position: right $form-select-padding-x-sm center !important;
				} @else {
					min-height: $input-height-sm;
					padding: $form-select-padding-y-sm $form-select-indicator-padding-sm $form-select-padding-y-sm $form-select-padding-x-sm;
					background-position: right $form-select-padding-x-sm center;
				}
			}
		} @else if $size == lg {
			@include rfs-val($form-select-font-size-lg, font-size, $bp, $important);
			@include rfs-val($form-select-border-radius-lg, border-radius, $bp, $important);
			@include media-breakpoint-up($bp) {
				@if $important == true {
					min-height: $input-height-lg !important;
					padding: $form-select-padding-y-lg $form-select-indicator-padding-lg $form-select-padding-y-lg $form-select-padding-x-lg !important;
					background-position: right $form-select-padding-x-lg center !important;
				} @else {
					min-height: $input-height-lg;
					padding: $form-select-padding-y-lg $form-select-indicator-padding-lg $form-select-padding-y-lg $form-select-padding-x-lg;
					background-position: right $form-select-padding-x-lg center;
				}
			}
		} @else {
			@include rfs-val($form-select-font-size, font-size, $bp, $important);
			@include rfs-val($form-select-border-radius, border-radius, $bp, $important);
			@include media-breakpoint-up($bp) {
				@if $important == true {
					min-height: $input-height !important;
					padding: $form-select-padding-y $form-select-indicator-padding $form-select-padding-y $form-select-padding-x !important;
					background-position: right $form-select-padding-x center !important;
				} @else {
					min-height: $input-height;
					padding: $form-select-padding-y $form-select-indicator-padding $form-select-padding-y $form-select-padding-x;
					background-position: right $form-select-padding-x center;
				}
			}
		}
	} @else {
		@if $size == sm {
			@if $important == true {
				min-height: $input-height-sm !important;
				padding: $form-select-padding-y-sm $form-select-indicator-padding-sm $form-select-padding-y-sm $form-select-padding-x-sm !important;
				background-position: right $form-select-padding-x-sm center !important;
				@include font-size($form-select-font-size-sm !important);
				@include border-radius($form-select-border-radius-sm !important);
			} @else {
				min-height: $input-height-sm;
				padding: $form-select-padding-y-sm $form-select-indicator-padding-sm $form-select-padding-y-sm $form-select-padding-x-sm;
				background-position: right $form-select-padding-x-sm center;
				@include font-size($form-select-font-size-sm);
				@include border-radius($form-select-border-radius-sm);
			}
		} @else if $size == lg {
			@if $important == true {
				min-height: $input-height-lg !important;
				padding: $form-select-padding-y-lg $form-select-indicator-padding-lg $form-select-padding-y-lg $form-select-padding-x-lg !important;
				background-position: right $form-select-padding-x-lg center !important;
				@include font-size($form-select-font-size-lg !important);
				@include border-radius($form-select-border-radius-lg !important);
			} @else {
				min-height: $input-height-lg;
				padding: $form-select-padding-y-lg $form-select-indicator-padding-lg $form-select-padding-y-lg $form-select-padding-x-lg;
				background-position: right $form-select-padding-x-lg center;
				@include font-size($form-select-font-size-lg);
				@include border-radius($form-select-border-radius-lg);
			}
		} @else {
			@if $important == true {
				min-height: $input-height !important;
				padding: $form-select-padding-y $form-select-indicator-padding $form-select-padding-y $form-select-padding-x !important;
				background-position: right $form-select-padding-x center !important;
				@include font-size($form-select-font-size !important);
				@include border-radius($form-select-border-radius !important);
			} @else {
				min-height: $input-height;
				padding: $form-select-padding-y $form-select-indicator-padding $form-select-padding-y $form-select-padding-x;
				background-position: right $form-select-padding-x center;
				@include font-size($form-select-font-size);
				@include border-radius($form-select-border-radius);
			}
		}
	}
}

@mixin select2-sizing($size: null, $selector: '') {
	$size-list: $s2bs5-default;
	@if $size == sm {
		$size-list: $s2bs5-small;
	} @else if $size == lg {
		$size-list: $s2bs5-large;
	}

	// Layout
	#{$selector}.select2-selection {
		min-height: map-get($size-list, height);
		padding: map-get($size-list, padding-y) map-get($size-list, padding-x);
		font-size: map-get($size-list, font-size);
	}

	#{$selector}.select2-selection--single,
	#{$selector}.select2-selection--multiple {
		.select2-selection__clear {
			width: map-get($size-list, clear-width);
			height: map-get($size-list, clear-height);
			padding: map-get($size-list, clear-padding-y) map-get($size-list, clear-padding-x);
			background: map-get($size-list, clear-bg);

			&:hover {
				background: map-get($size-list, clear-hover-bg);
			}
		}
	}

	// Dropdown
	#{$selector}.select2-dropdown {
		&.select2-dropdown--above {
			@include border-top-radius(map-get($size-list, border-radius));

			> .select2-results {
				> .select2-results__options {
					> .select2-results__option:first-child {
						@include border-top-radius(map-get($size-list, border-radius));
					}
				}
			}
		}

		&.select2-dropdown--below {
			@include border-bottom-radius(map-get($size-list, border-radius));

			> .select2-results {
				> .select2-results__options {
					> .select2-results__option:last-child {
						@include border-bottom-radius(map-get($size-list, border-radius));
					}
				}
			}
		}

		.select2-search {
			.select2-search__field {
				padding: map-get($size-list, padding-y) map-get($size-list, padding-x);
				font-size: map-get($size-list, font-size);
			}
		}

		.select2-results__options {
			.select2-results__option {
				padding: map-get($size-list, item-padding-y) map-get($size-list, item-padding-x);
				font-size: map-get($size-list, font-size);

				&[role='group'] {
					.select2-results__group {
						padding: map-get($size-list, group-padding-y) map-get($size-list, group-padding-x);
					}

					.select2-results__options--nested {
						.select2-results__option {
							padding: map-get($size-list, item-padding-y) map-get($size-list, item-padding-x);
						}
					}
				}
			}
		}
	}

	// Single
	#{$selector}.select2-selection--single {
		padding: map-get($size-list, padding-y) map-get($size-list, padding-x);
	}

	// Multiple
	#{$selector}.select2-selection--multiple {
		.select2-selection__rendered {
			&:not(:empty) {
				padding-bottom: map-get($size-list, padding-y);
			}

			.select2-selection__choice {
				padding: $s2bs5-multi-item-padding-y $s2bs5-multi-item-padding-x;
				font-size: map-get($size-list, font-size);

				.select2-selection__choice__remove {
					width: map-get($size-list, clear-width);
					height: map-get($size-list, clear-height);
					padding: map-get($size-list, clear-padding-y) map-get($size-list, clear-padding-x);
					background: map-get($size-list, clear-bg);

					&:hover {
						background: map-get($size-list, clear-hover-bg);
					}
				}
			}
		}

		.select2-selection__clear {
			right: map-get($size-list, padding-x);
		}
	}
}
