/// ======================================================================== ///
/// @name   _hover
///
/// @group  RIESTER RX
/// @since  1.0.0
/// @author RIESTER <wordpress@riester.com>
/// ======================================================================== ///

@mixin hover($add-class: false) {
	@if $add-class == true {
		&:hover,
		&.hover {
			@content;
		}
	} @else {
		&:hover {
			@content;
		}
	}
}

@mixin active($add-class: false) {
	@if $add-class == true {
		&:active,
		&.active {
			@content;
		}
	} @else {
		&:active {
			@content;
		}
	}
}

@mixin hover-active($add-class: false) {
	@if $add-class == true {
		&:hover,
		&.hover,
		&:active,
		&.active {
			@content;
		}
	} @else {
		&:hover,
		&:active {
			@content;
		}
	}
}

@mixin focus($add-class: false, $within: false) {
	@if $add-class == true {
		@if $within == true {
			&:focus,
			&:focus-visible,
			&:focus-within,
			&.focus {
				@content;
			}
			@supports #{unquote(':focus-visible')} {
				&:focus {
					// Remove the focus indicator on mouse-focus for browsers that do support :focus-visible
					outline: none;
					background: transparent;
					box-shadow: none;
					border: none;
				}
			}
		} @else {
			&:focus,
			&:focus-visible,
			&.focus {
				@content;
			}
			@supports #{unquote(':focus-visible')} {
				&:focus {
					// Remove the focus indicator on mouse-focus for browsers that do support :focus-visible
					outline: none;
					background: transparent;
					box-shadow: none;
					border: none;
				}
			}
		}
	} @else {
		@if $within == true {
			&:focus,
			&:focus-visible,
			&:focus-within {
				@content;
			}
			@supports #{unquote(':focus-visible')} {
				&:focus {
					// Remove the focus indicator on mouse-focus for browsers that do support :focus-visible
					outline: none;
					background: transparent;
					box-shadow: none;
					border: none;
				}
			}
		} @else {
			&:focus,
			&:focus-visible {
				@content;
			}
			@supports #{unquote(':focus-visible')} {
				&:focus {
					// Remove the focus indicator on mouse-focus for browsers that do support :focus-visible
					outline: none;
					background: transparent;
					box-shadow: none;
					border: none;
				}
			}
		}
	}
}

@mixin hover-focus($add-class: false, $within: false) {
	@if $add-class == true {
		@if $within == true {
			&:focus,
			&:focus-visible,
			&:focus-within,
			&.focus,
			&:hover,
			&.hover {
				@content;
			}
			@supports #{unquote(':focus-visible')} {
				&:focus {
					// Remove the focus indicator on mouse-focus for browsers that do support :focus-visible
					outline: none;
					background: transparent;
					box-shadow: none;
					border: none;
				}
			}
		} @else {
			&:focus,
			&:focus-visible,
			&.focus,
			&:hover,
			&.hover {
				@content;
			}
			@supports #{unquote(':focus-visible')} {
				&:focus {
					// Remove the focus indicator on mouse-focus for browsers that do support :focus-visible
					outline: none;
					background: transparent;
					box-shadow: none;
					border: none;
				}
			}
		}
	} @else {
		@if $within == true {
			&:focus,
			&:focus-visible,
			&:focus-within,
			&:hover {
				@content;
			}
			@supports #{unquote(':focus-visible')} {
				&:focus {
					// Remove the focus indicator on mouse-focus for browsers that do support :focus-visible
					outline: none;
					background: transparent;
					box-shadow: none;
					border: none;
				}
			}
		} @else {
			&:focus,
			&:focus-visible,
			&:hover {
				@content;
			}
			@supports #{unquote(':focus-visible')} {
				&:focus {
					// Remove the focus indicator on mouse-focus for browsers that do support :focus-visible
					outline: none;
					background: transparent;
					box-shadow: none;
					border: none;
				}
			}
		}
	}
}

@mixin active-focus($add-class: false, $within: false) {
	@if $add-class == true {
		@if $within == true {
			&:focus,
			&:focus-visible,
			&:focus-within,
			&.focus,
			&:active,
			.active {
				@content;
			}
			@supports #{unquote(':focus-visible')} {
				&:focus {
					// Remove the focus indicator on mouse-focus for browsers that do support :focus-visible
					outline: none;
					background: transparent;
					box-shadow: none;
					border: none;
				}
			}
		} @else {
			&:focus,
			&:focus-visible,
			&.focus,
			&:active,
			.active {
				@content;
			}
			@supports #{unquote(':focus-visible')} {
				&:focus {
					// Remove the focus indicator on mouse-focus for browsers that do support :focus-visible
					outline: none;
					background: transparent;
					box-shadow: none;
					border: none;
				}
			}
		}
	} @else {
		@if $within == true {
			&:focus,
			&:focus-visible,
			&:focus-within,
			&:active {
				@content;
			}
			@supports #{unquote(':focus-visible')} {
				&:focus {
					// Remove the focus indicator on mouse-focus for browsers that do support :focus-visible
					outline: none;
					background: transparent;
					box-shadow: none;
					border: none;
				}
			}
		} @else {
			&:focus,
			&:focus-visible,
			&:active {
				@content;
			}
			@supports #{unquote(':focus-visible')} {
				&:focus {
					// Remove the focus indicator on mouse-focus for browsers that do support :focus-visible
					outline: none;
					background: transparent;
					box-shadow: none;
					border: none;
				}
			}
		}
	}
}

@mixin hover-focus-active($add-class: false, $within: false) {
	@if $add-class == true {
		@if $within == true {
			&:focus,
			&:focus-visible,
			&:focus-within,
			&.focus,
			&:hover,
			&.hover,
			&:active,
			&.active {
				@content;
			}
			@supports #{unquote(':focus-visible')} {
				&:focus {
					// Remove the focus indicator on mouse-focus for browsers that do support :focus-visible
					outline: none;
					background: transparent;
					box-shadow: none;
					border: none;
				}
			}
		} @else {
			&:focus,
			&:focus-visible,
			&.focus,
			&:hover,
			&.hover,
			&:active,
			&.active {
				@content;
			}
			@supports #{unquote(':focus-visible')} {
				&:focus {
					// Remove the focus indicator on mouse-focus for browsers that do support :focus-visible
					outline: none;
					background: transparent;
					box-shadow: none;
					border: none;
				}
			}
		}
	} @else {
		@if $within == true {
			&:focus,
			&:focus-visible,
			&:focus-within,
			&:hover,
			&:active {
				@content;
			}
			@supports #{unquote(':focus-visible')} {
				&:focus {
					// Remove the focus indicator on mouse-focus for browsers that do support :focus-visible
					outline: none;
					background: transparent;
					box-shadow: none;
					border: none;
				}
			}
		} @else {
			&:focus,
			&:focus-visible,
			&:hover,
			&:active {
				@content;
			}
			@supports #{unquote(':focus-visible')} {
				&:focus {
					// Remove the focus indicator on mouse-focus for browsers that do support :focus-visible
					outline: none;
					background: transparent;
					box-shadow: none;
					border: none;
				}
			}
		}
	}
}
