/// ======================================================================== //
/// @name   _type-styles
/// @group  mixins
/// @since  <<projectversion>>
/// ======================================================================= ///

%heading {
	margin-top: 0; // 1
	margin-bottom: $headings-margin-bottom;
	font-family: $headings-font-family;
	font-style: $headings-font-style;
	font-weight: $headings-font-weight;

	//line-height: line-height($headings-line-height);
	color: $headings-color;
}

@for $i from 1 through 6 {
	%h#{$i} {
		@extend %heading;

		font-size: var(--#{$variable-prefix}h#{$i}-font-size);
	}
}

%lead {
	@include font-size($lead-font-size);

	font-weight: $lead-font-weight;
}

// -------------------------- Type display classes -------------------------- //

// Type display classes
@each $display, $font-size in $display-font-sizes {
	%display-#{$display} {
		@include font-size($font-size);

		font-weight: $display-font-weight;

		//line-height: line-height($display-line-height);
		margin-bottom: $headings-margin-bottom * 0.5;
	}
}

// -------------------------------- Emphasis -------------------------------- //

%small {
	@include font-size($small-font-size);
}

%mark {
	padding: $mark-padding;
	background-color: $mark-bg;
}

%initialism {
	all: initial;

	@include font-size(90%);
}

// ---------------------------------- Lists --------------------------------- //

%list-unstyled {
	@include list-unstyled;

	padding-inline-start: 0;
}

// Inline turns list items into inline-block
%list-inline {
	@include list-unstyled;
	@include make-row($list-inline-padding, $list-inline-padding);

	width: auto;
	display: inline-flex;
	align-items: center;

	> * {
		@include make-col-ready;
		@include make-col-auto;

		margin-left: 0;
		margin-right: 0;
	}
}

%list-inline-item {
	@include make-col-ready;
	@include make-col-auto;

	margin-left: 0;
	margin-right: 0;
}

%plain-link {
	color: var(--#{$variable-prefix}link-color);
	text-decoration: var(--#{$variable-prefix}link-decoration);
	background-color: transparent; // 1
	@include hover-focus {
		color: var(--#{$variable-prefix}link-hover-color);
		text-decoration: var(--#{$variable-prefix}link-hover-decoration);
	}
}

// ------------------------------- Blockquotes ------------------------------ //

%blockquote {
	@include font-size(remtopx($blockquote-font-size));

	margin-bottom: var(--#{$variable-prefix}paragraph-spacing);
}

%blockquote-footer {
	@include font-size(remtopx($blockquote-footer-font-size));

	margin-top: $blockquote-margin-y * -1;
	margin-bottom: $blockquote-margin-y;
	display: block;
	color: $blockquote-footer-color;

	&::before {
		content: '\2014\00A0'; // em dash, nbsp
	}
}

// ------------------------------- Icon Fonts ------------------------------- //

@mixin icon($icon-font-family) {
	@include reset-text;

	font-family: quote($icon-font-family), $emoji !important;
	speak: none;
	text-rendering: optimizelegibility;
	line-height: 2ex;
	display: inline-block;
	transition: $transition-base;
	font-feature-settings: 'liga';
	font-variant-ligatures: discretionary-ligatures;
	font-smoothing: antialiased;
}

@mixin icon-content($icon, $font-family: 'Font Awesome 5 Free') {
	@include icon($font-family);

	content: quote($icon);
}
