/// ======================================================================== ///
/// @name   edit
///
/// @group  RIESTERWP Plugin
/// @since  0.1.0
/// @author RIESTER <wordpress@riester.com>
/// ======================================================================== ///
@import '../../css/global/index';
.wp-block.block-editor-block-list__block.col {
    .content-wrapper {
        min-height: 42px;
        > .block-list-appender.wp-block {
        margin: 0;
    }
    }
}
