/// ======================================================================== ///
/// @name   admin
///
/// @group  rwp
/// @since  1.0.0
/// @author RIESTER <wordpress@riester.com>
/// ======================================================================== ///

// ========================================================================== //
// =========================== Import Admin Styles ========================== //
// ========================================================================== //

@import 'global/admin-index';

@import 'admin/bootstrap';
@import 'admin/general';
