/// ======================================================================== ///
/// @name   admin
///
/// @group  rwp
/// @since  1.0.0
/// @author RIESTER <wordpress@riester.com>
/// ======================================================================== ///

// ========================================================================== //
// =========================== Import Admin Styles ========================== //
// ========================================================================== //

@import 'global/admin-index';

@import 'admin/*.scss';

.editor-styles-wrapper {
	.rwp {
		&.is-hovered,
		&.is-selected {
			outline: solid 1px $primary;
		}
		&.has-child-selected {
			outline: solid 1px rgba($primary, 0.5);
		}

		.wp-block {
			margin-top: 0 !important;
			&:last-child {
				margin-bottom: 0 !important;
			}
		}
	}
}
