/// ======================================================================== ///
/// @name   debug
///
/// @group  RWP
/// @since  1.0.1
/// @author RIESTER <wordpress@riester.com>
/// ======================================================================== ///
@import 'global/index';

#query-monitor-main #qm-rwp-debug pre.sf-dump,
pre.sf-dump {
	display: block;
	white-space: pre;
	padding: 5px;
	overflow: initial !important;
	background-color: #18171b;
	color: #ff8400;
	line-height: 1.5 !important;
	font-family: $font-family-monospace !important;
	font-size: 1rem !important;
	word-wrap: break-word;
	white-space: pre-wrap;
	position: relative;
	z-index: 99999;
	word-break: break-all;
	&:after {
		content: '';
		visibility: hidden;
		display: block;
		height: 0;
		clear: both;
	}
	span {
		display: inline;
	}
	a {
		text-decoration: none;
		cursor: pointer;
		border: 0;
		outline: none;
		color: inherit;
	}
	img {
		max-width: 50em;
		max-height: 50em;
		margin: 0.5em 0 0 0;
		padding: 0;
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAAAAAA6mKC9AAAAHUlEQVQY02O8zAABilCaiQEN0EeA8QuUcX9g3QEAAjcC5piyhyEAAAAASUVORK5CYII=)
			#d3d3d3;
	}
	.sf-dump-ellipsis {
		display: inline-block;
		overflow: visible;
		text-overflow: ellipsis;
		max-width: 5em;
		white-space: nowrap;
		overflow: hidden;
		vertical-align: top;
		color: #ff8400;
		+ {
			.sf-dump-ellipsis {
				max-width: none;
			}
		}
	}
	code {
		display: inline;
		padding: 0;
		background: none;
	}
	.sf-dump-search-hidden {
		display: none !important;
	}
	.sf-dump-search-wrapper {
		font-size: 0;
		white-space: nowrap;
		margin-bottom: 5px;
		display: flex;
		position: -webkit-sticky;
		position: sticky;
		top: 5px;
		> * {
			vertical-align: top;
			box-sizing: border-box;
			height: 21px;
			font-weight: normal;
			border-radius: 0;
			background: #fff;
			color: #757575;
			border: 1px solid #bbb;
		}
		> input.sf-dump-search-input {
			padding: 3px;
			height: 21px;
			font-size: 12px;
			border-right: none;
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
			color: #000;
			min-width: 15px;
			width: 100%;
		}
		> .sf-dump-search-input-next {
			background: #f2f2f2;
			outline: none;
			border-left: none;
			font-size: 0;
			line-height: 0;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
			> svg {
				pointer-events: none;
				width: 12px;
				height: 12px;
			}
		}
		> .sf-dump-search-input-previous {
			background: #f2f2f2;
			outline: none;
			border-left: none;
			font-size: 0;
			line-height: 0;
			> svg {
				pointer-events: none;
				width: 12px;
				height: 12px;
			}
		}
		> .sf-dump-search-count {
			display: inline-block;
			padding: 0 5px;
			margin: 0;
			border-left: none;
			line-height: 21px;
			font-size: 12px;
		}
	}
	.sf-dump-default {
		background-color: #18171b;
		color: #ff8400;
		line-height: 1.2em;
		font-family: $font-family-code;
		font-size: 1rem;
		word-wrap: break-word;
		white-space: pre-wrap;
		position: relative;
		z-index: 99999;
		word-break: break-all;
	}
	.sf-dump-num {
		font-weight: bold;
		color: #1299da;
	}
	.sf-dump-const {
		font-weight: bold;
	}
	.sf-dump-str {
		font-weight: bold;
		color: #56db3a;
	}
	.sf-dump-note {
		color: #1299da;
	}
	.sf-dump-ref {
		color: #a0a0a0;
	}
	.sf-dump-public {
		color: #ffffff;
	}
	.sf-dump-protected {
		color: #ffffff;
	}
	.sf-dump-private {
		color: #ffffff;
	}
	.sf-dump-meta {
		color: #b729d9;
	}
	.sf-dump-key {
		color: #56db3a;
	}
	.sf-dump-index {
		color: #1299da;
	}
	.sf-dump-ns {
		user-select: none;
	}
	.sf-dump-ellipsis-note {
		color: #1299da;
	}
}
.sf-dump-public {
	&.sf-dump-highlight {
		background: rgba(111, 172, 204, 0.3);
		border: 1px solid #7da0b1;
		border-radius: 3px;
	}
	&.sf-dump-highlight-active {
		background: rgba(253, 175, 0, 0.4);
		border: 1px solid #ffa500;
		border-radius: 3px;
	}
}

.sf-dump-protected {
	&.sf-dump-highlight {
		background: rgba(111, 172, 204, 0.3);
		border: 1px solid #7da0b1;
		border-radius: 3px;
	}
	&.sf-dump-highlight-active {
		background: rgba(253, 175, 0, 0.4);
		border: 1px solid #ffa500;
		border-radius: 3px;
	}
}

.sf-dump-private {
	&.sf-dump-highlight {
		background: rgba(111, 172, 204, 0.3);
		border: 1px solid #7da0b1;
		border-radius: 3px;
	}
	&.sf-dump-highlight-active {
		background: rgba(253, 175, 0, 0.4);
		border: 1px solid #ffa500;
		border-radius: 3px;
	}
}

.sf-dump-key {
	&.sf-dump-highlight {
		background: rgba(111, 172, 204, 0.3);
		border: 1px solid #7da0b1;
		border-radius: 3px;
	}
	&.sf-dump-highlight-active {
		background: rgba(253, 175, 0, 0.4);
		border: 1px solid #ffa500;
		border-radius: 3px;
	}
}

.sf-dump-str {
	&.sf-dump-highlight {
		background: rgba(111, 172, 204, 0.3);
		border: 1px solid #7da0b1;
		border-radius: 3px;
	}
	&.sf-dump-highlight-active {
		background: rgba(253, 175, 0, 0.4);
		border: 1px solid #ffa500;
		border-radius: 3px;
	}
}
