/// ======================================================================== ///
/// @name   _admin-variables
///
/// @group  RWP
/// @since  1.0.1
/// @author RIESTER <wordpress@riester.com>
/// ======================================================================== ///

$blue: #2271b1;
$gray-900: #23282e;
$gray-200: #ccd0d4;
$gray-500: #9ea3a9;
$gray-300: #ccd0d4;
$gray-200: #e1e1e1;
$gray-100: #f4f4f4;
$secondary: #0a4b78;
$grid-gutter-width: 12px;
$hair-space: 0.0417em; // 0.7px || Width varies, but narrower than thin space
$fine-space: 0.125em; // 2px || Bien ! For French punctuation
$one-sixth-space: 0.1667em; // 2.7px || Might be suitable for grouping
$thin-space: 0.2em; // 3.2px || Recommended minimum width of space
$math-space: 0.2222em; // 3.6px ||a + b Around operators (according to Chicago)
$default-space: 0.25em; // 4px || Average width of normal space
$thick-space: 0.2778em; // 4.4.px || a = b Around relational operators (according to Chicago)
$one-third-space: 0.3333em; // 5.3px || Width of space in a wide font
$en-space: 0.5em; // 8px || Recommended maximum width of space, width of en-dash
$em-space: 1em; // 16px || width of em-dash

$font-family-monospace: 'FiraCode Nerd Font Mono', ui-monospace, sfmono-regular, menlo, monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
$acf-gutter-x: 12px;
$acf-gutter-y: 15px;
$border-color: $gray-300;
$variable-prefix: rwp-;

@use 'sass:map';
@use '~bootstrap/scss/variables';

$colors: map.merge($grays, $colors);
$theme-colors: map.merge($colors, $theme-colors);
