@import '~bootstrap/scss/functions';

@function sqrt($r) {
  $x0: 1;
  $x1: $x0;

  @for $i from 1 through 10 {
    $x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);
    $x0: $x1;
  }

  @return $x1;
}

@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

@function square($number) {
  $unitless: strip-units($number);

  @return ($unitless * $unitless);
}

@function get-unit($number) {
  @return unit($number);
}

@function get-hypotenuse($ab, $ac) {
  @if get-unit($ab) == get-unit($ac) {
    @return sqrt(square($ab) + square($ac)) + unquote(get-unit($ab));
  } @else {
    @error 'The two value into the get-hypotenuse() function must share the same unit type';
  }
}

@function rem($size) {
  $remSize: (strip-units($size) / 16) * 1rem;
  @return $remSize;
}
