/// ======================================================================== ///
/// @name   _utilities
///
/// @group  RIESTER RX
/// @since  1.0.0
/// @author RIESTER <wordpress@riester.com>
/// ======================================================================== ///

@import '~bootstrap/scss/utilities';

$utilities: map-merge(
	$utilities,
	(
		'shadow-filter': (
			property: filter,
			class: filter-shadow,
			responsive: true,
			values: (
				null: drop-shadow($box-shadow),
				sm: drop-shadow($box-shadow-sm),
				lg: drop-shadow($box-shadow-lg),
				none: none,
			),
		),
		'width':
			map-merge(
				map-get($utilities, 'width'),
				(
					responsive: true,
					values: (
						25: 25%,
						33: 33%,
						50: 50%,
						67: 67%,
						75: 75%,
						100: 100%,
						auto: auto,
					),
				)
			),
		'max-width':
			map-merge(
				map-get($utilities, 'max-width'),
				(
					responsive: true,
					values: (
						25: 25%,
						33: 33%,
						50: 50%,
						67: 67%,
						75: 75%,
						100: 100%,
						none: none,
					),
				)
			),
	)
);

@mixin setcssvar($entry, $value, $prefix: $variable-prefix) {
	--#{$prefix}#{$entry}: #{$value};
}

@mixin setlinkvars($entry, $color, $hover: null, $active: null, $focus: null, $disabled: null, $prefix: $variable-prefix) {
	@include setcssvar(#{$entry}-color, $color, $prefix);
	@if $hover != null {
		@include setcssvar(#{$entry}-hover-color, $hover, $prefix);
	}
	@if $active != null {
		@include setcssvar(#{$entry}-active-color, $active, $prefix);
	}
	@if $disabled != null {
		@include setcssvar(#{$entry}-disabled-color, $disabled, $prefix);
	}
	@if $focus != null {
		@include setcssvar(#{$entry}-focus-color, $focus, $prefix);
	}
}

@mixin reduced-motion($print: true) {
	@if $print == true {
		@media print, (prefers-reduced-motion: reduce) {
			@content;
		}
	} @else {
		@media (prefers-reduced-motion: reduce) {
			@content;
		}
	}
}
