/// ======================================================================== ///
/// @name   _variables
///
/// @group  RIESTER RX
/// @since  1.0.0
/// @author RIESTER <wordpress@riester.com>
/// ======================================================================== ///


$hair-space      : 0.0417em; // 0.7px || Width varies, but narrower than thin space
$fine-space      : 0.125em; // 2px || Bien ! For French punctuation
$one-sixth-space : 0.1667em; // 2.7px || Might be suitable for grouping
$thin-space      : 0.2em; // 3.2px || Recommended minimum width of space
$math-space      : 0.2222em; // 3.6px ||a + b Around operators (according to Chicago)
$default-space   : 0.25em; // 4px || Average width of normal space
$thick-space     : 0.2778em; // 4.4.px || a = b Around relational operators (according to Chicago)
$one-third-space : 0.3333em; // 5.3px || Width of space in a wide font
$en-space        : 0.5em; // 8px || Recommended maximum width of space, width of en-dash
$em-space        : 1em; // 16px || width of em-dash

$font-family-monospace: 'FiraCode Nerd Font Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

@import '~bootstrap/scss/variables';

$colors: map-merge($grays, $colors);

$theme-colors: map-merge($colors, $theme-colors);
