/// ======================================================================== ///
/// @name   _variables
///
/// @group  RIESTER RX
/// @since  1.0.0
/// @author RIESTER <wordpress@riester.com>
/// ======================================================================== ///

@import '~modularscale-sass/stylesheets/modularscale';



$type-spaces: (
	'hair'      : 0.0417em, // 0.7px  || Width varies, but narrower than thin space
	'fine'      : 0.125em,  // 2px    || Bien ! For French punctuation
	'one-sixth' : 0.1667em, // 2.7px  || Might be suitable for grouping
	'thin'      : 0.2em,    // 3.2px  || Recommended minimum width of space
	'math'      : 0.2222em, // 3.6px  || a + b Around operators (according to Chicago)
	'default'   : 0.25em,   // 4px    || Average width of normal space
	'thick'     : 0.2778em, // 4.4.px || a = b Around relational operators (according to Chicago)
	'one-third' : 0.3333em, // 5.3px  || Width of space in a wide font
	'en'        : 0.5em,    // 8px    || Recommended maximum width of space, width of en-dash
	'em'        : 1em,      // 16px   || width of em-dash
);

$emoji                  : 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$sans-serif-fallback    : system-ui, -apple-system, BlinkMacSystemFont, 'Avenir Next', Avenir,  'Segoe UI', 'Helvetica Neue', Helvetica, 'Noto Sans', 'Liberation Sans', Ubuntu, Roboto, Noto, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$serif-fallback         : 'Palatino Linotype', palatino, palladio, 'URW Palladio L', 'Book Antiqua', baskerville, 'Bookman Old Style', 'Bitstream Charter', 'Nimbus Roman No9 L', garamond, 'Apple Garamond', 'ITC Garamond Narrow', 'New Century Schoolbook', 'Century Schoolbook', 'Century Schoolbook L', georgia, serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$monospace-fallback     : ui-monospace, SFMono-Regular, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Droid Sans Mono', 'Courier New', monospace, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$font-family-sans-serif : $sans-serif-fallback;
$font-family-serif      : $serif-fallback;
$font-family-monospace  : 'Fira code', ui-monospace, SFMono-Regular, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Droid Sans Mono', 'Courier New', monospace, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font-family-code       : $font-family-monospace;
$font-family-base       : $font-family-sans-serif;

// Prefix for :root CSS variables

$variable-prefix:             bs- !default;

$spacer: 1rem;

$spacers: (
  	0: 0px,
	1: calc(var(--#{$variable-prefix}spacer) * .25),
	2: calc(var(--#{$variable-prefix}spacer) * .5),
	3: calc(var(--#{$variable-prefix}spacer) * .75),
	4: var(--#{$variable-prefix}spacer),
	5: calc(var(--#{$variable-prefix}spacer) * 1.25),
	6: calc(var(--#{$variable-prefix}spacer) * 1.5),
	7: calc(var(--#{$variable-prefix}spacer) * 1.75),
	8: calc(var(--#{$variable-prefix}spacer) * 2),
	9: calc(var(--#{$variable-prefix}spacer) * 2.25),
	10: calc(var(--#{$variable-prefix}spacer) * 2.5),
	11: calc(var(--#{$variable-prefix}spacer) * 2.75),
	12: calc(var(--#{$variable-prefix}spacer) * 3),
	13: calc(var(--#{$variable-prefix}spacer) * 3.25),
	14: calc(var(--#{$variable-prefix}spacer) * 3.5),
	15: calc(var(--#{$variable-prefix}spacer) * 3.75),
	16: calc(var(--#{$variable-prefix}spacer) * 4)
);

$modularscale: (
  base: rem(18px),
  ratio: 1.125
);

$font-size-base:              ms(0); // Assumes the browser default, typically `16px`
$font-size-sm:                ms(-1);
$font-size-lg:                ms(1);

$h1-font-size:                ms(6);
$h2-font-size:                ms(5);
$h3-font-size:                ms(4);
$h4-font-size:                ms(3);
$h5-font-size:                ms(2);
$h6-font-size:                ms(1);

$display-font-sizes: (
  1: ms(12),
  2: ms(11),
  3: ms(10),
  4: ms(9),
  5: ms(8),
  6: ms(7)
);

$line-height-base:            1.5 !default;
$line-height-sm:              1.25 !default;
$line-height-lg:              2 !default;

$paragraph-margin-bottom: 1em;

$blockquote-margin-y: $paragraph-margin-bottom;

$headings-margin-bottom: $paragraph-margin-bottom * .5;

@import '~bootstrap/scss/variables';

$gray-colors: ();


@each $level, $value in $grays {
	$new: (
		'gray-#{$level}': $value,
	);
	$gray-colors: map-set($gray-colors, 'gray-#{$level}', $value);
}

$colors: map-merge($gray-colors, $colors);

$theme-colors: map-merge($colors, $theme-colors);

$theme-colors: map-set($theme-colors, 'muted', $text-muted);
$theme-colors: map-set($theme-colors, 'border-color', $border-color);

$container-widths: (
	sm: 100vw,
	md: 90vw,
	lg: 85vw,
	xl: 75vw,
	xxl: 1050px
);
