/// ======================================================================== ///
/// @name   blocks
///
/// @group  RIESTERWP Plugin
/// @since  0.1.0
/// @author RIESTER <wordpress@riester.com>
/// ======================================================================== ///

@import '../../css/global/index';

@import '~bootstrap/scss/utilities/flex';

.wp-block {
	max-width: 100% !important;
}

.block-list-appender.wp-block {
	margin-bottom: 0;
}

:root .editor-styles-wrapper .has-vivid-green-cyan-background-color,
:root .has-vivid-green-cyan-background-color {
	background-color: inherit !important;
	color: currentcolor !important;
}

.rwp {
	margin: 0;
	padding: 1rem;
	display: block;
	position: relative;

	&.is-hovered {
		z-index: 5;

		&::before {
			z-index: initial;
			opacity: 1;
		}
	}

	&::before {
		content: '';
		position: absolute;
		display: block;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
		background: rgb($primary 0.1);
		opacity: 0;
		width: 100%;
		height: 100%;
		z-index: -2;
	}

	&.is-hovered,
	&.is-selected {
		outline: solid 1px $primary;
	}

	&.has-child-selected {
		outline: solid 1px rgb($primary 0.5);

		> .rwp {
			outline: solid 1px rgb($primary 0.5);

			&.is-hovered,
			&.is-selected {
				outline: solid 1px $primary;
			}
		}
	}

	.block-editor-inner-blocks {
		width: 100%;
	}

	> .rwp {
		width: 100%;
	}

	.wp-block {
		margin-top: 0 !important;
	}
}
