/// ======================================================================== ///
/// @name   _general
///
/// @group  rwp
/// @since  1.0.0
/// @author RIESTER <wordpress@riester.com>
/// ======================================================================== ///

// ============================== Admin Sidebar ============================= //

// stylelint-disable-next-line
#toplevel_page_rwp_plugin {
	.wp-menu-image img {
		width: 20px;
		height: auto;
	}
}

.rwp.wp-core-ui .attachment-preview {
	&[class*='subtype-svg+xml'] {
		.centered {
			transform: none;

			img {
				top: 50%;
				left: 50%;
				max-width: 100%;
				max-height: 100%;
				object-fit: contain;
				object-position: center;
				font-family: 'object-fit: contain';
			}
		}
	}
}

.editor-styles-wrapper {
	.rwp {
		&.is-hovered,
		&.is-selected {
			outline: solid 1px $primary;
		}

		&.has-child-selected {
			outline: solid 1px rgb($primary 0.5);
		}

		.wp-block {
			margin-top: 0 !important;

			&:last-child {
				margin-bottom: 0 !important;
			}
		}
	}
}
