/// ======================================================================== ///
/// @name   _general
///
/// @group  rwp
/// @since  1.0.0
/// @author RIESTER <wordpress@riester.com>
/// ======================================================================== ///

@import '~bootstrap/scss/utilities/embed';

// ============================== Admin Sidebar ============================= //

#toplevel_page_rwp_plugin {
    .wp-menu-image img {
        width: 20px;
        height: auto;
    }
}
