# This is a basic workflow to help you get started with Actions

name: New Version Release

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: ['main']

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo  ${{ toJson(env) }}
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node.js environment
        uses: actions/setup-node@v3.4.1
        with:
          # File containing the version Spec of the version to use.  Examples: .nvmrc, .node-version, .tool-versions.
          node-version-file: .nvmrc
          # Used to specify a package manager for caching in the default directory. Supported values: npm, yarn, pnpm.
          cache: yarn
          # Used to specify the path to a dependency file: package-lock.json, yarn.lock, etc. Supports wildcards or a list of file names for caching multiple dependencies.
          cache-dependency-path: yarn.lock
      - name: Release
        id: semantic
        uses: codfish/semantic-release-action@v1
        with:
          branches: 'main'
          artifacts: true
        env:
          CI: true
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - run: echo "$OUTPUTS"
        env:
          OUTPUTS: ${{ toJson(steps.semantic.outputs) }}
      - name: FTP/SFTP file deployer
        # You may pin to the exact commit or the version.
        # uses: milanmk/actions-file-deployer@58030c10c50a8577d08cef33e47c23bcbbf78c33
        uses: milanmk/actions-file-deployer@1.11
        if: steps.semantic.outputs.new-release-published == 'true'
        with:
          # Remote file transfer protocol (ftp, sftp)
          remote-protocol: ftp
          # Remote host
          remote-host: ${{ secrets.FTP_HOST }}
          # Remote port
          remote-port: 21
          # File synchronization (delta, full)
          sync: full
          # FTP/SSH username
          remote-user: ${{ secrets.FTP_USERNAME }}
          # FTP/SSH password
          remote-password: ${{ secrets.FTP_PASSWORD }}
          # Upload logs to artifacts
          artifacts: true
          local-path: ./release/rwp.zip
        env:
          TAG: v$RELEASE_VERSION
          FTP_HOST: ${{ secrets.FTP_HOST }}
          FTP_PASSWORD: ${{ secrets.FTP_PASSWORD }}
          FTP_ PATH: ${{ secrets.FTP_PATH }}
          FTP USERNAME: ${{ secrets.FTP_USERNAME }}
